body{
    background-color: #fafafc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    height: 40px;
    width: 100%;
    background-color: white;
    padding: 8px;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
}

header p{
    text-align: right;
    position: absolute;
    right: 30px;
}

header h2{
    margin: 0;
}

.form-box{
    width: 80%;
    position: fixed;
    left: 10vw;
    height: 80%;
    border-radius: 12px;
    background-color: white;
    top: 100px;
    border: 2px solid #ebecee;
    box-shadow: 0px 2px 6px #ddddea;
}

.form-box-header{
    padding: 8px 20px;
    border-bottom: 2px solid #f5f6f8;
    height: 80px;
}

.form-box-header h1{
    margin: 0px;
}

.form-box-header p{
    margin: 8px;
}

.info-box{
    display: flex;
    height: calc(100% - 100px);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.photoprofil{
    padding: 12px;
    background-color: #f8f9fb;  
    border-right: 2px solid #f5f6f8;
    border-bottom-right-radius: 12px;
}

.image-box{
    height: 200px;
    width: calc(100% - 16px);
    border: 2px dashed #ebecee;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    padding: 16px 0px;
}

.paspp{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.image-box span{
    color: #8C24F3;
    font-weight: bold;
}

.photoprofil small{
    color: #BCBCBC;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}


.form-filling{
    padding: 8px 16px;
    overflow: auto;
    border-bottom-right-radius: 12px;
}

.fist-form-input-group{
    width: 50%;
}

input, select{
    border: 1px solid #bbbbca;
    border-radius: 8px;
    padding: 12px 8px;
    font-size: 16px;
    color: #55556a;
    margin: 8px 0px;
    transition: 500ms;
    width: calc(100% - 36px);
}


input:focus-within, select:focus-within {
    border: 1px solid #8C24F3;
    box-shadow: 0px 2px 5px #2566e96b;
    transition: 500ms;
}


.fist-form-group{
    display: flex;
}

.btn-submit{
    background-color: #8C24F3;
    color: white;
    font-size: 16px;
    width: calc(100% - 36px);
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #8b24f36e;
    transition: 500ms;
}

.btn-submit:hover {
    background-color: #6117aa;
    transform: translateY(-2px);
    transition: 500ms;
}

.footer-text{
    display: inline-block;
    width: 100%;
    text-align: center;
}

textarea{
    width: calc(100% - 52px);
    height: 80px;
    border: 1px solid #bbbbca;
    border-radius: 8px;
    padding: 12px 8px;
    font-size: 16px;
    color: #55556a;
    margin: 8px 0px;
    transition: 500ms;
    
}

textarea:focus-within {
    border: 1px solid #8C24F3;
    box-shadow: 0px 2px 5px #2566e96b;
    transition: 500ms;
}


.footer-hr{
    margin-top: 16px;
    color: #bbbbca;
}

.loisirs-chip{
    border-radius: 40px;
    padding: 8px 16px;
    background-color: #8b24f38c;
    color: white;
    margin: 4px 4px;
    display: flex;
}

.loisirs-chip button{
    border: none;
    background-color: transparent;
    color: white;
}

.list-loisirs{
    width: 100%;
    overflow: auto;
    display: flex;
}
