header{
    height: 40px;
    width: 100%;
    background-color: white;
    padding: 8px;
    margin-bottom: 50px;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
}

/* nav a{
    right: 30px;
    text-decoration: none;
} */

nav ul{
    list-style: none;
    display: flex;
    justify-content:right;
    padding: 0;
    margin: 0;
    text-align: right;
    position: relative;
    left: 180%;
    top: 10px;
}

header h2{
    margin: 0;
}

nav li{
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: rgb(61, 60, 60);
}


body{
    background-color: #f5f6f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f5fa;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
}

.navbar nav a,
.navbar nav i {
    margin-left: 20px;
    color: #555;
    text-decoration: none;
} */


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}


.card {
    width: 360px;
    margin-top: 50px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: 1s;
    position: absolute;
    top: 75px;
    left: calc(50% - 180px);
}

.bloc{
    display: flex;
    gap: 20px;
}

.cartes{
    display: flex;
    gap: 30px;
    align-items: center;
    width: 400px;
}

.card:hover{
	transform: translateY(-5px);
}


.image-box {
    position: relative;
    height: 320px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.badge {
    position: absolute;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 20px;
    color: white;
}

.badge.left {
    top: 15px;
    left: 15px;
    background: rgba(255,255,255,0.3);
    color: #444;
}
.badge.bottomleft {
    top: 200px;
    left: 15px;
    background: transparent;
    color: #444;
}

.badge.right {
    top: 15px;
    right: 15px;
    background: rgba(255,255,255,0.3);
}


.content {
    padding: 10px 20px;
}

.content h2 {
    margin-bottom: 8px;
}

.content h2 span {
    color: #a855f7;
}

.info {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.bio {
    font-size: 14px;
    color: #444;
    margin-bottom: 10px;
}


.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tags span {
    background: #f0e9ff;
    color: #6b21a8;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
}


.actions {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    justify-content: space-around;
    padding: 0px 56px;
}

.btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.cancel {
    background: #e5e7eb;
}

.info {
    background: transparent;
    color: #7c3aed;
}

.like {
    background: #7c3aed;
    color: white;
}