# Configuration du Port
PORT=5000

# Environnement (production ou development)
NODE_ENV=development

# URL de connexion à la base de données MongoDB
MONGO_URI=mongodb://localhost:27017/concordia

# Clé secrète pour générer et valider les tokens JWT
JWT_SECRET=ta_cle_secrete_super_securisee_ici

# URL d'origine CORS autorisée pour le Frontend (sans slash final)
CORS_ORIGIN=https://concordia-dating.vercel.app

# Configuration de Cloudinary pour le stockage des photos de profil
CLOUDINARY_CLOUD_NAME=ton_cloud_name
CLOUDINARY_API_KEY=ta_cle_api
CLOUDINARY_API_SECRET=ton_secret_api
